@charset "UTF-8";


.main_back {
    width: 100%;
    background-color: #f3f3f3;
    overflow: auto;
    display: flex;
}

.main_back .container{
    width: 1580px;
    height: 720px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 13px #bbbbbb;
    margin: 50px 25px 50px 50px
}

.btn-white{
	background-color: #fff;
	border: 1px solid #d7dade;
	margin:4px;
	border-radius: 2px;
}

.btn-white:hover{
	background-color: #0075ff;
	color:#fff;	
}

