@charset "UTF-8";

.card{
	width: 90%;
    border: 2px solid rgba(0, 0, 0, .1);
    flex-direction: column;
    position: relative;
    margin-right: 10px; 
    margin-bottom: 10px;
}

.card.active{
	background-color: #cccccc;
}

.card-head{
	text-align:center;
	height: 80%;
 	vertical-align : middle;
	position: relative;
	font-size: 14px;
}
.card-head p{
	padding: 12px;
}
.card-main{
	font-size: 14px;
	position: relative;
	text-align:center;	
}
.card-main p {
	padding: 12px 5px 5px;
}

.card-footer{
	text-align:center;
	top: 20%;
	font-size: 14px;
	padding-bottom: 10px
}


.room{
	width: 97%;
    border: 2px solid rgba(0, 0, 0, .1);
    flex-direction: column;
    position: relative;
    margin-right: 10px; 
}
.room-head{
	text-align:center;
	height: 30px;
 	vertical-align : middle;
	position: relative;
	font-size: 14px;
}
.room-head p{
	padding: 12px;
}
.v-main{
	font-size: 14px;
	position: relative;
	text-align:center;	
}
.room-main p {
	padding: 12px 5px 5px;
}

.room-footer{
	text-align:center;
	top: 20%;
	font-size: 14px;
	padding-bottom: 10px
}

/* 공지사항 */
.notice { 
	background-color:#efefef; 
	position:relative; 
	padding:20px; 
}

.notice .title { 
	font-size:20px; 
	font-weight:bold; 
}

.notice .btn { 
	position:absolute; 
	top:10px; 
	right:20px; 
}

.notice .notice-list { 
	width:100%; 
	border-collapse:collapse; 
	margin-top:10px; 
}

.notice .notice-list td { 
	padding:8px 3px; 
}

.notice .notice-list td.date { 
	text-align:right; 
	width:150px; 
}

.notice .notice-list a:hover { 
	color:#00f; 
	text-decoration:underline; 
}


/* 통계 영역 */
.stats-area																							{ padding:40px 150px 0px 150px; width: 79%; height: 265px; }
.stats-area .stats-sub-area																			{ min-height: 210px; display:inline-block; overflow: hidden; width: 100%; position: relative; }
.stats-area .stats-sub-area	.enf-success-stats														{ width: 320px; height: 200px; left: 130px; position: absolute; background-color: #FF8A8A; }
.stats-area .stats-sub-area	.enf-cancel-stats														{ width: 320px; height: 200px; left: 535px; position: absolute; background-color: #66CCCC; }
.stats-area .stats-sub-area	.tro-stats																{ width: 320px; height: 200px; left: 940px; position: absolute; background-color: #FFC082; }
.stats-area .stats-sub-area	.stats-top																{ overflow: hidden; height: 90px; }
.stats-area .stats-sub-area	.stats-bottom															{ overflow: hidden; height: 90px; margin-top: 10px; }

.stats-area .stats-sub-area	.enf-success-stats .enf-success-txt-1									{ position: relative; left: 35px; color: #FFFFFF; font-weight: bold; font-size: 20px; }
.stats-area .stats-sub-area	.enf-success-stats .enf-success-txt-2									{ position: relative; left: -4px; top: 29px; color: #FFFFFF; }
.stats-area .stats-sub-area	.enf-success-stats .enf-success-txt-3									{ position: relative; top:25px; left:130px; color: #FFFFFF; font-size: 16px; }
.stats-area .stats-sub-area	.enf-success-stats .enf-success-day-cnt									{ position: relative; top: 25px; left:5px; color: #FFFFFF; font-weight: bold; font-size: 48px; }
.stats-area .stats-sub-area	.enf-success-stats .enf-success-month-cnt								{ position: relative; top:28px; left:145px; color: #FFFFFF; font-size: 28px; }

.stats-area .stats-sub-area	.enf-cancel-stats .enf-cancel-txt-1										{ position: relative; left: 35px; color: #FFFFFF; font-weight: bold; font-size: 20px; }	
.stats-area .stats-sub-area	.enf-cancel-stats .enf-cancel-txt-2										{ position: relative; left: -4px; top: 29px; color: #FFFFFF; }
.stats-area .stats-sub-area	.enf-cancel-stats .enf-cancel-txt-3										{ position: relative; top:25px; left:91px; color: #FFFFFF; font-size: 16px; }
.stats-area .stats-sub-area	.enf-cancel-stats .enf-cancel-day-cnt									{ position: relative; top: 23px; left:5px;  color: #FFFFFF ; font-weight: bold; font-size: 48px; }
.stats-area .stats-sub-area	.enf-cancel-stats .enf-cancel-month-cnt									{ position: relative; top:28px; left:101px; color: #FFFFFF; font-size: 28px; }

.stats-area .stats-sub-area	.tro-stats .tro-txt-1													{ position: relative; left: 35px; color: #FFFFFF; font-weight: bold; font-size: 20px; }	
.stats-area .stats-sub-area	.tro-stats .tro-txt-2													{ position: relative; left: -1px; top: 29px; color: #FFFFFF; }
.stats-area .stats-sub-area	.tro-stats .tro-txt-3													{ position: relative; top:25px; left:98px; color: #FFFFFF; font-size: 16px; }
.stats-area .stats-sub-area	.tro-stats .tro-day-cnt													{ position: relative; top: 23px; left:5px; color: #FFFFFF; font-weight: bold; font-size: 48px; }
.stats-area .stats-sub-area	.tro-stats .tro-month-cnt												{ position: relative; top:28px; left:110px; color: #FFFFFF; font-size: 28px; }

